body {
    font-family: "Arial", sans-serif;
    background-color: #e0f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0288d1;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0288d1;
    color: white;
}
